.git/
.DS_Store
.idea/
.vscode/

.env
.env.*

data/
conf/
postgres/
backups/
logs/
tmp/
docs/

server/bin/
server/logs/
server/data/
server/coverage.out

web/node_modules/
web/dist/
web/dist-ssr/

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
